:root {
    --heightWidth: 20px;
}

html {
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

/* #crossword-grid {

} */

#word-box {
    margin-left: 25px;
    min-width: 120px;
    max-width: 200px;
}

#word-box li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    list-style: none;
    margin-bottom: 5px;
}

table {
    border-spacing: 6px;
}

td {
    border: 1px black solid;
    text-align: center;
    height: var(--heightWidth);
    width: var(--heightWidth);
    border-radius: 3px;
    padding: 2px;
    user-select: none;
}

td:hover {
    cursor: pointer;
}

.clicked {
    background-color: aquamarine;

}

.foundit {
    background-color: lightgreen;
}

.struckthrough {
    text-decoration: line-through;
    color: rgb(218, 218, 218);
}

.toast-popup {
    display: none;
    position: fixed;
    top: 50px;
    right: 50px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: 999;
}

.btn {
    display: inline-block;
}

.confirmation-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 15px;
}

.confirmation-popup button {
    padding: 10px 20px 10px 20px;
    background-color: white;
    border-radius: 5px;
    color: black;
    border: 1px solid black;
    cursor: pointer;
    transition: border-radius 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.6s ease-in-out, padding-left 0.3s ease-in-out, padding-right 0.3s ease-in-out;
}

.confirmation-popup button:hover {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #63e490;
    border-radius: 10px;
    color: white;
    border: 1px solid #919191;
    cursor: pointer;
    box-shadow: 4px 4px 10px #a8a8a8, -4px -4px 10px #ffffff;
}

/* .confirmation-popup button:active, */
.confirmation-popup button:focus {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #919191;
    border-radius: 10px;
    color: white;
    border: 1px solid #919191;
    cursor: pointer;
    box-shadow: 4px 4px 10px #a8a8a8, -4px -4px 10px #ffffff;
}

.confirmation-popup p {
    margin-bottom: 20px;
    font-weight: bold;
}

.another-btn {
    padding: 10px 20px 10px 20px;
    margin-bottom: 20px;
    background-color: crimson;
    border-radius: 5px;
    color: white;
    border: 1px solid black;
    cursor: pointer;
    transition: border-radius 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.6s ease-in-out, padding-left 0.3s ease-in-out, padding-right 0.3s ease-in-out;
}

.another-btn:hover {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #63e490;
    border-radius: 10px;
    color: white;
    border: 1px solid #919191;
    cursor: pointer;
    box-shadow: 4px 4px 10px #a8a8a8, -4px -4px 10px #ffffff;
}