:root {
    --heightWidth: 20px;
}

html {
    font-family: 'Montserrat', sans-serif;
}

#crossword-grid {
    margin: 0 auto
}

td {
    border: 1px black solid;
    text-align: center;
    height: var(--heightWidth);
    width: var(--heightWidth);
    border-radius: 3px;
}

td:hover {
    cursor: pointer;
}

.clicked {
    background-color: aquamarine;
    
}