:root {
    --heightWidth: 20px;
}

html {
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

/* #crossword-grid {

} */

#word-box {
    margin-left: 20px;
    min-width: 120px;
    max-width: 150px;
}

#word-box li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

td {
    border: 1px black solid;
    text-align: center;
    height: var(--heightWidth);
    width: var(--heightWidth);
    border-radius: 3px;
}

td:hover {
    cursor: pointer;
}

.clicked {
    background-color: aquamarine;
    
}